<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.patientscircle">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".activity.SickFriendsActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".activity.ConditionsActivity"/>
        <activity android:name=".activity.PatienthomeDetailsActivity"/>
        <activity android:name=".activity.UserpageActivity"/>
        <activity android:name=".activity.PublishedcircleActivity"/>

    </application>

</manifest>