<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dingtao.rrmmp.login" >
    <application
        >
        <activity android:name="com.dingtao.rrmmp.activity.LoginActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="com.dingtao.rrmmp.activity.BingYaoActivity"/>
        <activity android:name="com.dingtao.rrmmp.activity.BannerWebViewActivity"/>
        <activity android:name="com.dingtao.rrmmp.activity.BingDetailsActivity"/>
        <activity android:name="com.dingtao.rrmmp.activity.DrugsDetailsActivity"/>
        <activity android:name="com.dingtao.rrmmp.activity.HomeSeachActivity"/>
    </application>
</manifest>
